<h1>All index Questions</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Job</th>
      <th>Company</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.content %></td>
         
      </tr>
    <% end %>
  </tbody>
</table>
