<h1>All index Questions</h1>
  <h1>All Questions</h1>

  

 
<% @question.each do |question| %>
      <tr><span>question</span>
 <td><h4> <%= link_to question.content  %> </h4></td>

      </tr>
  
 
<h2>Answers:</h2>
<ul>
  <% question.answers.each do |answer| %>
    <li><%= answer.content %></li>






  <% end %>
</ul><% end %>
 


 


 