<h1>New Question</h1>
<div class="container-sm">
<%= bootstrap_form_with model: @question, url: company_job_questions_path(@job) do |form| %>
  <div class="field">
  
   
    <%= form.text_area :content %>
  </div>
    <%= form.submit %>
<% end %>
 </div>

 