<div><p>
 <span>
    Commenter:
   <b> <%= comment.title %></b>
  </span><br>

  <%use = comment.user%>
 
   <% if current_user&.avatar =='nil'%>
   <%else%>
  <%= image_tag(use.avatar,style:"width:50px;height:50px")%>
   <%end%>
  <span>
      Comment:
     <%= comment.comment%> 
  </span></p>

  </div>

  
  