<div><p><span>
    Commenter Email:
    <%= comment.title %>
  </span>
</p>
  <span>

    <%= comment.comment%>
  </span>


 <%=comment.company_id%>


 <%new=Comment.all.where(company_id:comment.company_id)%>
<%all_ratings=new.pluck(:rating)%>
<%=all_ratings.compact.sum/all_ratings.size%>


  </div>
 
 