<div><p>
 <span>
    Commenter:
   <b> <%= comment.title %></b>
  </span><br>
  <% use = comment.user %>
  <% if use.nil? || use.avatar.nil? %>
    <!-- Default image goes here -->
  <% else %>
    <%= image_tag(use.avatar,style:"width:150px;height:150px") %>
  <% end %>
  
 <span>
     Comment:
    <%= comment.comment%> 
 </span></p>

  </div>

  
  