<h1>Edit Job</h1>
<%= bootstrap_form_for([@company, @job], url: company_job_path(@company, @job)) do |f| %>

 
    <%= f.text_field :job_title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', company_jobs_path(@company) %>
