<%= link_to 'New Job', new_company_job_path %><hr/>
 
 
    <% @jobs.each do |job| %>
         <div class="container p-5 my-5 bg-light border">

       <> <h1><%= link_to  job.job_title , company_job_path(job.company, job) %></h1>
        
<li><%= link_to 'Edit', edit_company_job_path(job.company, job)  %></li>



        <li><%= link_to 'Destroy', company_job_path(job.company,job), method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </tr></div>
    <% end %>
 
<br>

 