<hr/>
<h1>EmpCompanies</h1>



<ul>

 <% @companies.each do |comp| %>
    <li>
    <%if current_user.company_name == comp.name%>   
      <%= link_to comp.name, comp %>
     
      
    <%end%>
    </li>
   

  <%end%>

