<hr/>
<p class="text-center fs-1">Employee Company<p>



<ul>

 <% @companies.each do |comp| %>
    <li>

    <div class="card" style="width: 18rem;">
    <%if current_user.company_name == comp.name%>   
   <button type="button" class="btn btn-dark">   <%= link_to comp.name, comp %></button>
     
      </div>
    <%end%>
    </li>
   

  <%end%>

